/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFUZ0bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWZ0bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVp0bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWp0bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family: 'Open Sans';
}

html, body, #root, #App {
  height: 100%;
  width: 100%;
}

.eRFtqR {
  background-color: rgb(0, 0, 0);
}

#App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 25rem;
  border-radius: 10px;
  margin: 0 auto;
  background-color: white;
  background: rgba(255, 255, 255, 0.99);
}

fieldset {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  height: 10rem;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #fe6c61;
}

.login-input {
  margin: 0 auto;
}

.login-label {
  margin: 12px;
}

.login-input::placeholder {
  text-align: center;
}

legend {
  font-weight: bold;
}

.form-button {
  width: 100%;
}

.makeStyles-card-1{
  margin: 2rem;
  width: 30rem;
  height: 25rem;
}

.item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 50rem;
}

.log-out {
  width: 5rem;
  height:1.5rem;
  color: white;
  font-size: 15px;
  text-decoration: none;
  background-color: #fe6c61;
  border: none;
}

.logo {
  width: 4.5rem;
  height: 6rem;
}

.MuiCardMedia-root {
  display: flex;
  justify-content: center;
  height: 15rem;
}

.nav-section {
  width: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding-top: 3rem;
  height: 2rem;
  width: 100%;
}

.search-input {
  width: 60%;
  height: 1.5rem;
  color: black;
  font-size: 20px;
}

.search-input-input::placeholder {
  text-align: center;
  color: black;
}

.search-button {
  width: 4rem;
  height: 2rem;
  margin-left: 5px;
}

.item-img {
  width: 100%;
  height: 15rem;
}

.marketplace-logo {
  width: 20rem;
  height: 5rem;
}

.nav-links {
  display: flex;
flex-flow: row nowrap;
justify-content: space-evenly;
align-items: center;
list-style: none;
width: 60%;
}

.links {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.search-section {
  width: 100%;
  height: 5rem;
}


/* Allie's UserPage css */

.profile-img {
  width: 100px;
  margin-top: 1%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.align-left {
  text-align: left;
}

.user-item {
  width: 25%;
  max-width: 270px;
  min-width: 200px;
  margin: 1%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #888888;
}

.edit-buttons {
  background-color: white;
  border: 2px solid #fe6c61;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fe6c61;
  font-size: 0.8rem;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.edit-buttons:hover {
  background-color: #fe6c61;
  color: white;
  transition: 0.3s;
}

.user-item-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1% auto;
  max-width: 900px;
  width: 90%;
}

.user-profile-item-img {
  max-width: 100%;
  border-radius: 5px;
}

.price-li {
  font-size: 1.5rem;
  margin: 10px;
}

.item-title {
  color: #fe6c61;
  padding: 0;
  margin: 7px;
  font-size: 1.7rem;
}

.subtitle {
  padding: 0;
  margin: 5px 0;
  color: #fe6c61;
  font-size: 1rem;
}

/* End of Allie's UserPage css */